/* GENERELT DESIGN */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f2ec;
  color: #27231e;
}

/* HEADER */

header {
  padding: 25px 5%;
  border-bottom: 1px solid #d9d3cb;
}

h1 {
  margin: 0;
  font-size: 30px;
}

/* HOVEDINDHOLD */

main {
  max-width: 1200px;
  margin: 60px auto;
  padding: 0 20px;
}

h2 {
  font-size: 20px;
  margin-bottom: 40px;
}

/* PRODUKTLISTE */

#CatListContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  a {
    padding: 2rem;
    background-color: rgb(187, 203, 198);
    text-decoration: none;
    color: inherit;
    text-align: center;
    border-radius: 20px;
    margin-top: 1rem;
  }
}

#backbutton {
  margin-bottom: 12px;
  background-color: rgb(149, 175, 167);
  border-radius: 10px;
  padding: 17px;
}

#productlistcontainer {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 40px 20px;
}

/* PRODUKTKORT */

.productCard {
  min-width: 0;
}

.productCard img {
  width: 100%;
  aspect-ratio: 3 / 4;
  object-fit: cover;
  display: block;
}

.productCard h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.productCard p {
  font-size: 16px;
  margin-bottom: 20px;
}

/* KNAP TIL PRODUKTDETALJER */

.productCard a {
  display: block;
  padding: 15px;
  background-color: #27231e;
  color: white;
  text-decoration: none;
  text-align: center;
}

.productCard a:hover {
  background-color: #575047;
}

/* MEDIA QUERY - STØRRE SKÆRME */

@media screen and (min-width: 768px) {
  #productlistcontainer {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
